@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "~@flaticon/flaticon-uicons/css/all/all";

body{
  font-family: "Orbitron", sans-serif
}

.App {
  text-align: center;
  font-family: "Orbitron", sans-serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.new-system{
  display: none;
}

.system-wrapper{
  border: 1px solid white;
  width: 95vw;
  
}

a{
  margin-left: 10px;
}

header{
  min-height: 5vh;
  min-width: 100vw;
  background-color: dodgerblue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Orbitron", sans-serif
}


.fi{
  color: white;
  transition: all 0.5s ease-in-out;
  &:hover{
    color: orange;
    cursor: pointer;
  }
}

.slider-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.slick-slider{
  color: white;
  width: 1540px;
  margin-top: 20px;

.slick-slide{
  background: rgba(50, 151, 245, 0.342);
  text-align: center;
  font-size: large;
  }
}

.price-card{
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 2px;
  background: #f0f8ff26;
  color: darkorange;
  filter: drop-shadow(1px 4px 6px black);
  mix-blend-mode: hard-light;
  font-weight: 500;
}

.link-container{
  max-width: 33%;
  display: flex;
}

.site-name{
  max-width: 33%;
  font-size: 1em
}

.header-spacer {
  max-width: 33%;
  font-size: 1em
}

.cargo-record{
  border: 1px solid white;
  width: 80vw;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  align-items: flex-start;
}

.commodity-table{
  width: 98%;
  border: 1px solid white;
  margin: 5px;
  tr{
    text-align: left;
  }
  .comm-row{
    width: 50%;
  }
  .scu-row{
    width: 25%;
  }
  .comm-edit{
    width: 25%;
  }
}

.commodity-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  select, p, label, input{
    margin-left:10px;
  }
}

.slider-container{
  max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.slick-slider{
  max-width: 85%;
  font-size: 10px;
}

.location-form{
  margin:10px;
  label, select{
    margin: 10px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
  &:hover{
    cursor: pointer;
  }
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 15px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.station-name{
  font-size: 20px;
}

select, input{
  border-radius: 20px;
  /* box-shadow: 2px 2px 5px #0000008c; */
  padding: 6px;
  background: #ffffff00;
  border: none;
  color: white;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.5s ease-in-out
}

select:hover, input:hover{
  border: 1px solid white;
  background: white;
  color: black;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  padding: 3px;
}

span{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.splash-img-container{
  width: 95vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 25px;

  img{
    width: 50%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3, h4, h5 {
  margin-top: -1px;
  height: 10px;
}
