.fleet-wrapper{
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;

    .fleet-menu {
        height: 95vh;
        width: 98vw;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;

        .fleet-list{
            border: 1px solid orange;
            width: 100%;
            height: 100%;

                p{
                    font-size: 15px;
                    margin-right: 15px;
                    margin-top: 0px;
                    margin-bottom: 10px;
                }
        }
    }
}

.swiper{
    overflow-x: hidden;
    overflow-y: clip;
    animation: slideFade 3s ease-in-out;
}

.swiper-wrapper{
    align-items: center !important;
    flex-direction: row !important;
}

.swiper-slide-next{
    filter: blur(0px) !important;
    width: 800px !important;
    height: 600px !important;
    position: relative !important;
    z-index: 100 !important;
    overflow: visible !important;
    align-content: center !important;
    img{
        filter: blur(0px) !important;
        box-shadow: 3px 1px 10px 2px black !important;
        width: 725px !important;
        height: 525px !important;
        position: relative !important;
        z-index: 100 !important;
        border-radius: 20px !important;
    }
}

