.sidebar-menu-wrapper{
    width: 25vw;
    height: 89vh;
    background: #1f2228;
    position: absolute;
    align-self: baseline;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    top: 10vh;
    z-index: 10000;
}